<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>hi <%= @user.username %> This is a noticiation!  </h1>
  </body>
</html>