/* http://www.larsattacks.co.uk */

/* reset */
html,body,div,span,applet,object,iframe,
h1,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
/* remember to define focus styles! */
:focus{outline:0;}
body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,
q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

html{ background-color: #ffffff; }
body{
	font-family:Helvetica, Arial, Verdana;
	color:#777777;
	font-size:12px;
	line-height:10px; 
	padding-bottom:200px;
	background: #fff;
}

#main { padding-left: 30px; padding-top: 30px; }

a { color: #2e3326; text-decoration: none;}
a img { border: 0px; }
a:hover { color: black; }

#results{ width:870px; }

.rounded-corners {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#results ul.viewThumbs {list-style-type:none;clear:both;float:left;}
#results ul.viewThumbs li{width:200px;height:134px;overflow:hidden;float:left; margin-right: 30px; margin-bottom: 30px; background: #333;}
#results ul.viewThumbs img{float:left;width:200px;max-width:200px;min-width:200px;max-height:134px;min-height:134px;overflow:hidden;}
#results ul.viewThumbs li .details{float:left;}
#results ul.viewThumbs li .details { background: transparent; height: 100px; width: 150px; padding: 0px; font-size: 0.8em; font-family: Georgia; float: left;}
#results ul.viewThumbs li .details .seethrough{background: url(/images/overlayfull.png);height:130px;width:174px;z-index:10;} 
#results ul.viewThumbs li .details .actualdetails{height:110px;width:154px;padding:10px;position:relative;top:-130px;}
#results ul.viewThumbs li .details .headline { font-weight: bold;  }
#results ul.viewThumbs li .details .price { color: #669933; clear: both; margin-top: 5px; font-size: 1.1em;}
#results ul.viewThumbs li .details .goBtn{ height: 30px;  width: 30px; background: url('/images/fullscreen.png') no-repeat; float: left; text-indent: -7777px; display: block; margin-top: 10px; }
#results ul.viewThumbs li .details .foot { margin-top: 18px; margin-left: 5px; float: left; }
#results ul.viewThumbs li .details .foot a { font-weight: bold; }

/* -- Footer -------- */
#googleAd{width:881px;float:left;margin-left:-12px;height:100px;padding:13px 0px 0px 15px;text-align:center;}

.pagination{margin:15px 0px 10px 0px;float:left;font-family:Georgia;font-size:1.1em;}
.pagination a{padding:2px; color:#59b2dc;text-decoration:none;}

#footer { width: 868px; margin-top: -6px; padding: 14px; font-size:14px; border-top: 1px solid #6c5422;  background: #f3f1e9 url('/images/options_bg.png') no-repeat 0px 32px; clear: both;}
#footer ul li { display: inline; margin-right: 10px;}
#footer2 { float: left; background:  url('/images/footerbg.png') no-repeat; margin: 0px 0px 0px -23px; height: 44px; width: 940px;}

#footer #footer_rightSide { float:right; height:100px; left:29px; top:-53px; margin-bottom:-141px; overflow:hidden; position:relative; }  
#footer #footer_rightSide #footer_friendsdiv { float:left; font-family:Georgia; font-style:italic; font-weight:bold; left:7px; position:relative; top:40px; }
#footer #footer_rightSide a img {opacity: 0.9 }
#footer #footer_rightSide a img:hover {opacity: 1}