<div id="staticResults" class="<%=controller.controller_name %>">
	<h3>Editing alert</h3>
	<h4></h4>

	<%= render 'form' %>

	<%= link_to 'Show', @alert %> |
	<%= link_to 'Back', alerts_path %>
</div>