<style>
	body {
	    background: url("../images/large/909vbcut.png") no-repeat scroll 220px 0 #FFFFFF
	}
</style>
	
<div id="staticResults" class="<%=controller.controller_name %> about">
 	» We have no idea what it does, we just clicked on go and it kinda happened. 
</div>	