<script type="text/javascript">
	$(document).ready(function(){
		$('#imageOverlay').addClass('nineonine');
		$('#imageOverlay').animate({opacity: 1}, 700).fadeIn();
	})
</script>

<div id="imageOverlay"></div>

<div id="staticResults" class="<%=controller.controller_name %> about">
 	» We have no idea what it does, we just clicked on go and it kinda happened. 
</div>	
