<script type="text/javascript">
	$(document).ready(function(){
		$('#imageOverlay').addClass('nineonine');
		$('#imageOverlay').animate({opacity: 1}, 1000).fadeIn();
	})
</script>

<div id="imageOverlay"></div>

<div id="staticResults" class="<%=controller.controller_name %> about">
 	» Rackjam is a <a href="http://www.larsattacks.co.uk">LA</a> jam. <br/><br/>
	<div id="contact">Contact & feedback please to <a href="mailto:rackjamone@gmail.com">rackjamone@gmail.com</div>
</div>	
