<h3>Filter by</h3>

<ul id="filterList">
	<li><%= link_to_if(params[:type], 'No filters') %></li>		
	<% @categories.each do |category| %>
		<li><%= link_to_if(params[:type] != category.name, "#{category.name.capitalize}s", "/type/#{category.name}") %> <i>(<%= category.number %>)</i></li>
	<% end %>
</ul>