<h3 id="dash">Dashboard</h3>
<ul id="dashList">
	<li id="d_about"><a href="#">About</a></li>
	<li id="d_log"><a href="#">Sign in</a></li>
	<li id="d_reg">Register</li>
</ul>	

<h3>Filter by</h3>
<ul id="filterList">
	<li><a href="#">Compressors</a></li>
	<li><a href="#">Drum machines</a></li>	
	<li><a href="#">Samplers</a></li>
	<li><a href="#">Microphones</a></li>
	<li><a href="#">Mixers</a></li>
</ul>

<div id="box"></div>
<a href="http://www.larsattacks.co.uk" id="copyLA">© LA 2011</a>