<% @cookie_value = cookies[:rackjamnotice] %>

<% if @cookie_value != 'closed' %>
	<div id="intro">
		<%= Bucket.find_by_name('latestTweet').content %>
		<a href="#" id="closeIntro">x</a>
	</div>
<% end %>
