<!--	
<% @cookie_value = cookies[:rackjamnotice] %>

<% if @cookie_value != 'closed' %>
	<div id="noticeMain" class="rounded-corners">
		<div id="notice">
			<div id="innerNotice">Rackjam is new! ( work in progress ). Please be patient, features will appear here soon.</div>
		</div>
	</div>	
<% end %>
-->