<div id="gplus">
	<g:plusone size="medium"></g:plusone>
	<script type="text/javascript">
	     window.___gcfg = { lang: 'en-GB' };
	     (function() {
	       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	       po.src = 'https://apis.google.com/js/plusone.js';
	       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	     })();
	</script>	
</div>	

<div id="fb">
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js#appId=334265279941807&amp;xfbml=1"></script>
	<div class="fb-like" data-href="http://www.facebook.com/home.php#!/pages/Rackjam/222715851108793" data-send="false" data-layout="button_count" data-width="450" data-show_faces="false" data-font=""></div> 
</div>

<div id="box">
	<ul>
		<li><a href="http://www.snufflr.net"><img src="/images/ads/ad-snuffler.png" alt="snuffler" /></a></li>
		<li><a href="http://www.bikeshd.co.uk/"><img src="/images/ads/ad-bikeshd.png" alt="bikeshd" /></a></li>			
		<li><a href="http://www.larsattacks.co.uk"><img src="/images/ads/ad-la.png" alt="larsattacks" /></a></li>			
	</ul>
</div>