<div id="fb">
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js#appId=334265279941807&amp;xfbml=1"></script>
	<fb:like href="http://www.facebook.com/home.php#!/pages/Rackjam/222715851108793" send="false" layout="button_count" width="450" show_faces="false" font=""></fb:like>
</div>

<div id="box">
	<ul>
		<li><a href="http://www.snufflr.net"><img src="/images/ads/ad-snuffler.png" /></a></li>
		<li><a href="http://www.bikeshd.co.uk/"><img src="/images/ads/ad-bikeshd.png" /></a></li>			
		<li><a href="http://www.larsattacks.co.uk"><img src="/images/ads/ad-la.png" /></a></li>			
	</ul>
</div>